.title
{
    font-size: 95px;
    color: #852464;
    background-color: #56a475;
    font-family: Cambria;
   
}

*
{

    color: #fff;
    background-color: #111;
}
.college
{
    color: #91be37;
    background-color: #111;
}
img
{
    background-color: azure;
}

a, a:visited 
{
    text-decoration: none;
    color: inherit;
  
}
